<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 
          https://maven.apache.org/xsd/settings-1.0.0.xsd">
  
  <!-- Disable the HTTP blocker to allow HTTP connections -->
  <mirrors>
    <mirror>
      <id>central-http</id>
      <name>Central Repository via HTTP</name>
      <url>http://insecure.repo1.maven.org/maven2</url>
      <mirrorOf>central</mirrorOf>
    </mirror>
    
    <!-- Remove the default HTTP blocker -->
    <mirror>
      <id>disabled-http-blocker</id>
      <mirrorOf>external:http:*</mirrorOf>
      <url>http://dummy/</url>
      <blocked>false</blocked>
    </mirror>
  </mirrors>

  <!-- Force HTTP protocol for Maven Central -->
  <profiles>
    <profile>
      <id>central-http</id>
      <repositories>
        <repository>
          <id>central-http</id>
          <name>Central Repository HTTP</name>
          <url>http://insecure.repo1.maven.org/maven2</url>
          <layout>default</layout>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <releases>
            <updatePolicy>never</updatePolicy>
          </releases>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>central-http</id>
          <name>Central Repository HTTP</name>
          <url>http://insecure.repo1.maven.org/maven2</url>
          <layout>default</layout>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <releases>
            <updatePolicy>never</updatePolicy>
          </releases>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>central-http</activeProfile>
  </activeProfiles>
</settings>